body {
  background-color: #0F103F;
  margin: 0;
  padding: 0;
  font-family: Poppins, Arial, sans-serif;
}

#container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#background-image {
  position: absolute;
  left: -20px;
  top: 0;
  width: 353.18px;
  height: 397.21px;
}

#text1 {
  position: absolute;
  left: 317px;
  top: 385px;
  font-size: 100px;
  font-weight: bold;
  color: white;
}

#text2 {
  position: absolute;
  left: 317px;
  top: 485px;
  font-size: 100px;
  font-weight: bold;
  color: white;
}

#text3 {
  position: absolute;
  left: 317px;
  top: 585px;
  font-size: 100px;
  font-weight: bold;
  color: white;
}

#image1 {
  position: absolute;
  left: 1500px;
  top: 383px;
}

#image2 {
  position: absolute;
  left: 2052px;
  top: 445px;
}

#image3 {
  position: absolute;
  left: 596px;
  top: 988px;
}

#image4 {
  position: absolute;
  left: 436px;
  top: 988px;
}

#image5 {
  position: absolute;
  left: 700px;
  top: 81px;
}

#image6 {
  position: absolute;
  left: 200px;
  top: 1075px;
}

#image7 {
  position: absolute;
  left: 900px;
  top: 82px;
}

#image-5 {
  position: absolute;
  left: 100px;
  top: 2382px;
}

#image-6 {
  position: absolute;
  left:1000px;
  top: 3766px;
}

#image-7 {
  position: absolute;
  left: 100px;
  top: 5178px;
}

#image-8 {
  position: absolute;
  left: 1040px;
  top: 6778px;
}

#image-9 {
  position: absolute;
  left: -10px;
  top: 7078px;
}

#scroll-link3 {
  position: absolute;
  top: 86px;
  left: 1125px;
}


button {
  appearance: none;
  mz-appearance: none;
  moz-appearance: none;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.btn {
  margin: 15px 0;
  padding: 14px 25px;
  background: #eee;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 100%;
  border-radius: 3px;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.btn:hover {
  opacity: 1;
}

.btn.cta {
  background: #ffdd40;
  color: #222;
  font-weight: 700;
}

.btn.primary {
  background: #ddd;
  color: #222;
}

.btn.outlined {
  background: none;
  border: 2px solid #ddd;
  color: #ddd;
}

.btn.text {
  background: none;
  color: #ddd;
}

.btn.raised {
  box-shadow: 0 1px 2px #222;
  transition: 
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.btn.raised:hover {
  box-shadow: 0 15px 7px -7px #222;
  transform: translateY(-8px)
}

.btn._3d {
  box-shadow: 
    -5px 6px #222,
    -5px 3px #222;
  transform: translate(5px, -5px);
  transition: 
    box-shadow 0.15s ease,
    transform 0.15s ease;
}

.btn._3d:active {
  box-shadow: 
    0 0 #222,
    0 0 #222;
  transform: translateX(0)
}

.btn.fill {
  position: relative;
  background: linear-gradient(90deg, #ddd, #ddd) bottom left/100% 0% no-repeat;
  transition: background-size 0.15s linear;
}

.btn.fill::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: inherit;
  background: linear-gradient(90deg, #222, #222) bottom left/100% 0% no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: inherit;
}

.btn.fill:hover, 
.btn.fill:hover::after {
  background-size: 100% 100%;
}

.btn.shinny {
  background: linear-gradient(65deg, #3bcbeb, #ffdd40, #0ebeff, #a63beb) 0 0/400%;
  color: #131417;
  transition: 
    color 0.5s ease-in-out,
    background-position 0.5s ease-in-out;
}

.btn.shinny:hover {
  background-position: 100% 0;
  color: #fff;
}

.btn.rotate {
  position: relative;
  background: none;
  color: transparent;
}

.btn.rotate::before,
.btn.rotate::after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.3s;
  padding-top: inherit;
  text-align: center;
}

.btn.rotate::before {
  transform: translateY(0) rotateX(0deg);
  background: #4415a2;
  transform-origin: bottom bottom;
  content: attr(data-before);
  opacity: 1;
  color: #fff;
}

.btn.rotate::after {
  transform: translateY(-50%) rotateX(90deg);
  background: #b9f;
  content: attr(data-after);
  transform-origin: top top;
  opacity: 0;
  color: #111;
}

.btn.rotate:hover::after {
  transform: translateY(0) rotateX(0);
  opacity: 1;
}

.btn.rotate:hover::before {
  transform: translateY(50%) rotateX(90deg);
  opacity: 0;
}
