body {
  background-color: #0F103F;
  margin: 0;
  padding: 0;
  font-family: Poppins, Arial, sans-serif;
}

#container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#background-image {
  position: absolute;
  left: -20px;
  top: 0;
  width: 353.18px;
  height: 397.21px;
}

#text1 {
  position: absolute;
  left: 317px;
  top: 385px;
  font-size: 100px;
  font-weight: bold;
  color: white;
}

#text2 {
  position: absolute;
  left: 317px;
  top: 485px;
  font-size: 100px;
  font-weight: bold;
  color: white;
}

#text3 {
  position: absolute;
  left: 317px;
  top: 585px;
  font-size: 100px;
  font-weight: bold;
  color: white;
}

#image1 {
  position: absolute;
  left: 1500px;
  top: 383px;
}

#image2 {
  position: absolute;
  left: 2052px;
  top: 445px;
}

#image3 {
  position: absolute;
  left: 596px;
  top: 988px;
}

#image4 {
  position: absolute;
  left: 436px;
  top: 988px;
 
}

#image5 {
  position: absolute;
  left: 700px;
  top: 81px;
}

#image6 {
  position: absolute;
  left: 200px;
  top: 1275px;
}

#image7 {
  position: absolute;
  left: 900px;
  top: 82px;
}

#image-5 {
  position: absolute;
  left: 100px;
  top: 2382px;
}

#image-6 {
  position: absolute;
  left:1000px;
  top: 3766px;
}

#image-7 {
  position: absolute;
  left: 100px;
  top: 5178px;
}

#image-8 {
  position: absolute;
  left: 1040px;
  top: 6778px;
}

#image-9 {
  position: absolute;
  left: -10px;
  top: 7078px;
}

#scroll-link3 {
  position: absolute;
  top: 86px;
  left: 1125px;
}

.brk-btn {
  position:relative;
  background: none;
  color: aqua;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid aqua;
  padding: 0.5em 1em;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &:hover {
    &::before {
      right: 80%;
    }
    &::after {
      left: 80%;
    }
  }
}
nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    position: fixed;
    width: 270px;
    height: 100%;
    min-height: 350px;
    color: white;
    background: rgba(0, 0, 0, 0.801);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 10px;
    transition: ease-in 0.3s;
    z-index: 100;
}

nav.hide{
    width: 0;
}

nav span{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 28px;
    font-weight: 800;
    overflow: hidden;
}

.sidebar-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    width: 100%;
    list-style: none;
    overflow: hidden;
}

.sidebar-menu li{
    text-align: center;
    width: 100%;
}

.sidebar-menu li a{
    display: inline-flex;
    align-items: center;
    width: 95%;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: ease-in 0.2s;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.sidebar-menu li a:hover{
    color: rgb(45, 209, 67);
    border: 1px solid white;
}

.sidebar-menu li a i{
    margin: 0 18px;
    width: 20px;
}

#toggle-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 18px;
    right: -39px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.801);
    border-radius: 0 7px 7px 0;
    border: none;
    cursor: pointer;
    color: white;
    transition: linear 0.2s;
}

#toggle-btn:hover{
    background: rgba(0, 0, 0, 0.623);
    color: rgb(45, 209, 67);
}

section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top:0;
    left: 270px;
    height: 100vh;
    width: calc(100% - 270px);
    padding: 30px;
    transition: ease-in 0.3s;
}

section.expand{
    width: 100%;
    left: 0;
}

section h1{
    color: rgb(0, 0, 0);
    font-size: 32px;
    text-align: center;
}

section h1.dark-mode{
    color: white;
}


.vertical-center {
  margin: 0;
  position: absolute;
  top: 685px;
  left: 317px;
}
 
nav{
  background: #fff;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
}
nav ul li{
  list-style:none;
  display: inline-block;
  padding:13px 35pxx;
  margin: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #777;
  cursor: pointer;
  position:relative;
  z-index:2;
  transition: color 0.5s;
}

 nav ul li::after{
   content:'';
   background: #f44566;
   width:100%;
   height:100%;
   border-radius: 30px;
   position:absolute;
   top: 100%;
   left:50%;
   transform:translate(-50%,-50%);
   z-index: -1;
   opacity: 0 ;
   transition: top 0.5s, opacity 0.5s;
}
   
nav ul li: hover{
  color: #fff;
}
nav ul li:hover::after{
  top: 50%;
  opacity: 1;
}
  
